
@import '_variables.scss'; 

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .main-border {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid $blue;
    margin: 20px;
    z-index: 9999;
    color: $blue;
    text-align: center;
    min-width: 160px;
    min-height: 600px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
  
.border-test {
    border: 3px solid green;
}

// --------------------------------- HOVER ANIMATION --------------------------------- //

.underline-animation:hover {
    background-image: url('../assets/wavy.svg');
    background-position: 0 86%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    animation: slideleft 2000s infinite linear;
  }

@keyframes slideleft {
    from { background-position-x: -200px; }
    to { background-position-x: -90000px; }
  }

// -------------------------------------- FLEX -------------------------------------- //

.flex {
    display: flex;
    &--col {
        flex-direction: column;
    }
}

.block {
    &--sm {
        @media screen and (min-width: $break--mbl) {
            display: block;
        }
    }
    &--md {
        @media screen and (min-width: $break--tblt) {
            display: block;
        }
    }
}

.inline-block {
    display: inline-block;
}

.justify {
    &--evenly {
        justify-content: space-evenly;
    }
    &--center {
        justify-content: center;
    }
}

.align {
    &--center {
        align-items: center;
    }
}

// -------------------------------------- COLOR -------------------------------------- //

.bg {
    &--none {
        background: none;
    }
    &--white {
        background-color: white;
    }
}

// -------------------------------------- SPACING -------------------------------------- //

.right {
    &--0 {
        right: 0;
    }
    &--40 {
        right: 40px;
    }
}

.top {
    &--0 {
        top: 0;
    }
    &--40 {
        top: 40px;
    }
}

.bottom {
    &--0 {
        bottom: 0;
    }
    &--40 {
        bottom: 40px;
    }
}

.padding {
    &--5 {
        padding: 5px; 
     }
    &--20 {
       padding: 20px; 
    }
    &--40 {
        padding: 40px; 
    }
    &-right {
        &--20 {
            &--md {
                @media screen and (min-width: $break--tblt) {
                    padding-right: 20px;
                }
            }
        }
    }
    &-bottom {
        &--20 {
            padding-bottom: 20px;
        }
    }


}

.margin {
    &-top {
        &---5 {
            margin-top: -5px;
        }
    }
}

.min-width {
    &--200 {
        min-width: 200px;
    }
}

// ------------------------------------- POSITION ------------------------------------- //


.position {
    &--absolute {
        position: absolute;
    }
    &--fixed {
        position: fixed;
    }
}


.text-align {
    &--center {
        text-align: center;
    }
    &--left {
        text-align: left;
    }
}


.hide {
    display: none;
}

.z-index{
    &--1 {
        z-index: 1;
    }
}

// -------------------------------------- tbd -------------------------------------- //
.border {
    &--none {
        border: none;
    }
}

.space_x1 {
    letter-spacing: 0.27em;
}

.no-letter-spacing {
    &--md {
        @media screen and (min-width: $break--tblt) {
            letter-spacing: 0.22em;
        }
    }
}


a {
    text-decoration: none;
}

a:visited, a:-webkit-any-link {
    color: $blue;
}