@import '_variables.scss'; 

.blob-btn {
    $numOfBlobs: 4;
    font-family: degular, sans-serif;
    position: relative;
    color: $blue;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    padding: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120px;
    @media screen and (min-width: $break--min) and (max-width: $break--mbl--sm) {
      margin-bottom: 20px;
      width: calc(120px + (200 - 120) * ((100vw - 200px) / (350 - 200)));
      font-size: calc(12px + (16 - 12) * ((100vw - 200px) / (350 - 200)));
    }
    @media screen and (min-width: $break--mbl--sm){
      margin-bottom: 20px;
      width: 200px;
      font-size: 16px;
    }

    // @media screen and (min-width: $break--tblt) and (max-width: $break--dsktp--lg){
    //   width: calc(300px + (600 - 300) * ((100vw - 768px) / (1440 - 768)));
    //   font-size: calc(16px + (24 - 16) * ((100vw - 768px) / (1440 - 768)));
    //   padding: 20px;
    // }
    // @media screen and (min-width: $break--dsktp--lg){
    //   width: calc(600px + (800 - 600) * ((100vw - 1440px) / (2000 - 1440)));
    //   font-size: calc(24px + (32 - 24) * ((100vw - 1440px) / (2000 - 1440)));
    //   padding: 20px;
    // }
    
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius:70px;
      border: 5px solid $blue;
      @media screen and (min-width: $break--tblt) {
        border: 6px solid $blue;
      }
    }
    
    &:after {
      content: "";
      z-index: -2;
      position: absolute;
      left: 5px*1.5;
      top: 5px*1.5;
      width: 100%;
      height: 100%;
  
      transition: all 0.3s 0.2s;
      border-radius:70px;
    }
    
    &:hover {
      color: white;
      border-radius:70px;
      
      &:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius:70px;
      }
    }
    
    &__inner {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius:70px;
      background:white;
    }
    
    // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
    &__blobs {
      position: relative;
      display: block;
      height: 100%;
      filter: url('../assets/goo.svg#goo');
    }
    
    &__blob {
      position: absolute;
      width: calc(100% / $numOfBlobs);
      height: 100%;
      background: $blue;
      border-radius: 100%;
      transform: translate3d(0,150%,0) scale(1.7);
      transition: transform 0.45s;
      
      @supports(filter: url('../assets/goo.svg#goo')) {
        transform: translate3d(0,150%,0) scale(1.5);
      }
      
      @for $i from 1 through $numOfBlobs {
        &:nth-child(#{$i}) {
          left: calc(($i - 1) * (120% / $numOfBlobs));
          transition-delay: ($i - 1) * 0.08s;
        }
      }
      
      .blob-btn:hover & {
        transform: translateZ(0) scale(1.7);
        
        @supports(filter: url('../assets/goo.svg#goo')) {
          transform: translateZ(0) scale(1.5);
        }
      }
    }
    
  }
  