@import '../styles/_variables.scss'; 



.eyes {
  right: 20px;
  top: -58px;
  rotate: 26deg;
  @media screen and (min-width: $break--tblt) {
    right: 30px;
    top: calc(-110px + (-150 - -110) * ((100vw - 768px) / (2000 - 768)));
  }

  .eye {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black); /* fix for safari overflow:hidden and border radius */
    width: 40px;
    height: 40px;
    border: 4px solid $blue;
    @media screen and (min-width: $break--tblt){
      border: 6px solid $blue;
      margin-top: 20px;
      height: calc(60px + (100 - 60) * ((100vw - 768px) / (2000 - 768)));
      width: calc(60px + (100 - 60) * ((100vw - 768px) / (2000 - 768)));
    }
  }
  
  .eye--left {
    left: 38px;
    @media screen and (min-width: $break--tblt) {
      left: calc(45px + (80 - 45) * ((100vw - 768px) / (2000 - 768)));
    }
  }
  
  .pupil {
    width: 18px;
    height: 18px;
    background-color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    @media screen and (min-width: $break--tblt) {
      height: calc(23px + (40 - 23) * ((100vw - 768px) / (2000 - 768)));
      width: calc(23px + (40 - 23) * ((100vw - 768px) / (2000 - 768)));
    }
  }
  
  .pupil:after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 2px;
    background-color: white;
    @media screen and (min-width: $break--tblt) {
      height: calc(5px + (13 - 5) * ((100vw - 768px) / (2000 - 768)));
      width: calc(5px + (13 - 5) * ((100vw - 768px) / (2000 - 768)));
      top: 5px;
      right: 10px;
    }
  }

}