@import '_variables.scss'; 

.home {
    h1 {
      font-family: 'Archivo-Black', Arial, sans-serif;
      letter-spacing: 0.22em;
      line-height: 1;
      font-size: 18px;
      @media screen and (min-width: $break--min) and (max-width: $break--mbl--sm) {
        font-size: calc(18px + (30 - 18) * ((100vw - 200px) / (350 - 200)));
      }
      @media screen and (min-width: $break--mbl--sm) {
        font-size: 30px;
      }
      @media screen and (min-width: $break--tblt) {
        font-size: calc(60px + (100 - 60) * ((100vw - 768px) / (2000 - 768)));
      }
      span {
        padding-left: 10px;
        @media screen and (min-width: $break--tblt) {
          padding-left: 25px;
        }
      }
    }
      
    p {
      font-family: 'Alata-Regular', Arial, sans-serif;
      font-size: 10px;
      padding-top: 6px;
      @media screen and (min-width: $break--min) and (max-width: $break--mbl--sm) {
        font-size: calc(10px + (16 - 10) *  ((100vw - 200px) / (350 - 200)));
      }
      @media screen and (min-width: $break--mbl--sm) {
        font-size: 16px;
      }
      @media screen and (min-width: $break--tblt) {
        font-size: calc(30px + (48 - 30) * ((100vw - 768px) / (2000 - 768)));
      }
    }
      
      
}