@import '_variables.scss'; 


.portfolio {
    h2 {
        font-family: 'Archivo-Black', Arial, sans-serif;
        line-height: 1;
        font-weight: 400;
        font-size: 24px;
        @media screen and (min-width: $break--mbl) and (max-width: $break--tblt) {
            font-size: calc(24px + (72 - 24) * ((100vw - 380px) / (768 - 380)));
        }
        @media screen and (min-width: $break--tblt) {
            font-size: 72px;
        }
    }
    
    h3 {
        font-family: 'Alata-Regular', Arial, sans-serif;
        line-height: 1;
        padding-bottom: 5px;
        font-size: 18px;
        @media screen and (min-width: $break--mbl) and (max-width: $break--tblt) {
          font-size: calc(18px + (47 - 18) * ((100vw - 380px) / (768 - 380)));
        }
        @media screen and (min-width: $break--tblt) {
          font-size: 47px;
        }
      }

      p {
        font-family: degular, sans-serif;
        line-height: 1;
        padding-bottom: 5px;
        font-size: 12px;
        @media screen and (min-width: $break--mbl) and (max-width: $break--tblt) {
          font-size: calc(12px + (28 - 12) * ((100vw - 380px) / (768 - 380)));
        }
        @media screen and (min-width: $break--tblt) {
          font-size: 28px;
        }
      }

      h5 {
        font-family: degular, sans-serif;
        font-style: italic;
        font-weight: 200;
        font-size: 10px;
        @media screen and (min-width: $break--mbl) and (max-width: $break--tblt) {
          font-size: calc(10px + (24 - 10) * ((100vw - 380px) / (768 - 380)));
        }
        @media screen and (min-width: $break--tblt) {
          font-size: 24px;
        }
      }
}