@import '_variables.scss'; 


.box {
    background: black;
    border-radius: 50%;
    transition: left 0.5s ease, top 0.5s ease;
  }

  .transition {
    transition: left 0.5s ease, top 0.5s ease; /* CSS transition for left and top properties during animation */
}
